<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <meta property="fb:app_id" content="{{ app_id }}" />
    
    <title>{{ app_name }}</title>
</head>
<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ app_id }}',
                status     : true,
                cookie     : true,
                xfbml      : true
            });
            FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- HEADER -->
    <div>
        <h1>PyThreads</h1>
    </div>
        <a href="/" id="home">Home</a>
        |
        {% if user %}
        <img src="http://graph.facebook.com/{{ user.id }}/picture?type=normal">
        <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
        |
        <a href="{{ url_for('logout') }}" id="logout">Log out</a>
        <script>
            document.getElementById('logout').onclick = function() {
                FB.logout(function(response) { });
            };
        </script>
        {% else %}
        <a href="{{ url_for('login') }}" id="login" class="fb-login-button" data-size='large' data-scope="public_profile">Log in</a>
        {% endif %}

    <hr>


    <div class="container">
        {% block content %} {% endblock %}
    </div>

</body>
</html>